body, h1, h2, h3, h4, h5, h6, p{
    margin:0;
}

.sr-only{
    position:absolute;
    left:-99999px;
}

.img-fluid{
    max-width:100%;
    height:auto;
}

.container{
    max-width:1200px;
    width: 95%;
    margin:auto;
}

header{
    background-color:#333;
    color:white;
    padding: 10px 0;
}

    header .container{
        display:flex;    
        justify-content:space-between;
    }

    header nav{
        min-width: 400px;
        display:flex;
        justify-content:space-between;
    }

    nav a{
        color:white;
        text-decoration:none;
        display:block;
    }

.hero{
    background-color: #888;
}

    .hero .container{
        display:flex;
        justify-content:flex-end;
    }

    .hero-text{
        width: 50%;
        padding: 200px 20px;
        text-align:center;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .hero-text h2{
        font-size: 400%;
    }

    .hero-button{
        display:block;
        border: 2px solid white;
        color:white;
        padding: 5px 10px;
        text-decoration:none;
        margin-top: 20px;
    }

    .hero-button:hover{
        background-color:white;
        color: black;
    }

.projects .container{
    display:flex;    
    justify-content:space-between;
    padding: 100px 0;
}

    .project{
        width: 30%;
        display:flex;
        flex-direction:column;
        align-items:center;  
    }

    .project-image{
        order: -1;        
    }

.contact{
    background-color: #ccc;
    text-align:center;
    padding: 100px 0;
}

    .contact h2{
        font-size: 300%;
    }

    .contact form{
        margin-top: 20px;
    }

footer{
    background-color: #333;
    text-align:center;
    color:white;
    padding: 50px 0;
}